---
layout: default
---

<style>
    #header-site-title{
        line-height: 55px !important;
    }
</style>

<div>
    <!--首页搜索时打开新标签页，其他覆盖本页-->
    <script>
        var s_in = document.getElementById("search");
            document.getElementById("search").setAttribute('target', '_blank');
            //首页修复站点名称显示
            // document.getElementById("header-site-title").style.cssText += "line-height: 55px !important;";
            //console.log(document.getElementById("search").target);
        //}
    </script>
    <!--首页音乐播放器
    <meting-js server="tencent" type="playlist" id="3441886932" fixed="true" autoplay="false" order="random"></meting-js>
    -->
</div>

<div class="main-content index-page clearfix">
    <div class="post-lists">
        <div class="post-lists-body">
            {% for post in paginator.posts %}
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="post-card">
                        <img class="lazyload" src="{{ '/style/image/orange.progress-bar-stripe-loader.svg' | prepend: site.baseurl }}" data-src="{{ post.thumbnail }}">
                    </div>
                    <a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
                        <div class="item-desc">
                            <p>{{ post.summary }} </p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant bg-deepgrey"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title"><a href="{{ post.url | prepend: site.baseurl }}" target="_blank">{{ post.title }}</a>
                        <br />
                        {{ post.date | date: "%Y-%m-%d" }}
                        </div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico {% if post.icon %}bg-ico-{{ post.icon }}{% endif %}" style="background: url({{ '/style/image/bg-ico.png' | prepend: site.baseurl }}) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat">
                                <a href="/category/{{ post.category}}" target="_blank">{{ post.category }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    {% if paginator.total_pages > 1 %}
    <div class="lists-navigator clearfix">
        <ol class="page-navigator">
            {% if paginator.previous_page %}
            <li class="prev"><a href="{{ paginator.previous_page_path | relative_url }}">←</a></li>
            {% endif %}
            {% for page in (1..paginator.total_pages) %}
            <li {% if page==paginator.page %} class="current" {% endif %}>
                <a href="{% if page == 1 %}{{  '/' | prepend: site.baseurl }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">{{
                    page }}</a>
            </li>
            {% endfor %}
            {% if paginator.next_page %}
            <li class="next"><a href="{{ paginator.next_page_path | relative_url }}">→</a></li>
            {% endif %}
        </ol>
    </div>
    {% endif %}

</div>