---
layout: default
title: 标签
permalink: /tags
thumbnail: https://images.weserv.nl/?url=https://i0.hdslb.com/bfs/article/5d8b2b6f67e4955e06f5ed150ed2e09fddbb489c.jpg
---

<!-- 动态显示停留时间 -->
<script src="{{ site.baseurl }}/style/js/Browse_time.min.js"></script>

<link href="{{ '/style/css/ning_tags.min.css' | prepend: site.baseurl }}" rel="stylesheet">

<div class="post-header-thumb">
    <div class="post-header-thumb-op" style="background-image:url({{ page.thumbnail }});"></div>
    <div class="post-header-thumb-cover">
        <div class="post-header-thumb-container">
            <div class="post-header-thumb-title">
                {{ page.title }}
            </div>
            <div class="post-header-thumb-meta">
                <span id="/tags/" class="leancloud_visitors" data-flag-title="{{ page.title }}">
                    <em class="post-meta-item-text">👁‍🗨 </em>
                    <font class="leancloud-visitors-count">-</font>
                </span>
            </div>


            <div class="post-meta">
                <span class="post-meta-wrap">
                    <img class="author-avatar"
                        srcset="{{ '/style/image/logo.png' | prepend: site.baseurl }}, {{ '/style/image/logo.png' | prepend: site.baseurl }} 2x"
                        src="{{ '/style/image/logo.png' | prepend: site.baseurl }}" alt="" />
                    <span class="post-author">全文共{{ content | strip_html | strip_newlines | split: "" | size }}字</span>
                    <!--<span class="post-author">预计花费{{ content | strip_html | strip_newlines | split: "" | size }}/400</span>
                                        <span class="post-author"><span id="busuanzi_value_page_pv"></span> 次访问</span>-->
                    <time itemprop="datePublished"><span id="Browse_time"></span></span>
                </time>
                </span>
            </div>
        </div>
    </div>
</div>

{% assign max_tag_count = 0 %}
{% for tag in site.tags %}
{% if tag[1].size > max_tag_count %}
{% assign max_tag_count = tag[1].size %}
{% endif %}
{% endfor %}


<div class="main-content archive-page clearfix">

    <div class="post-tags" style="max-width: 70%;margin: -40px auto 30px auto;text-align: center;border-bottom: none;">
        {% for tag in site.tags %}
        <a href="{{ basesite.url }}/tags#{{ tag[0] }}" style="margin: 4px 8px 15px 0px;">{{ tag[0] }}</a>
        {% endfor %}
    </div>

    {% for i in (1..max_tag_count) reversed %}
    {% for tag in site.tags %}
    {% if tag[1].size == i %}
    <div class="common-item">
        <div class="categorys-title">
            Tag：<a id="{{ tag[0] }}" href="#{{ tag[0] }}">{{ tag[0] }} 【{{ tag[1].size }}】</a><span></span>
        </div>


        <div class="post-lists">
            <div class="post-lists-body">
                {% for post in tag[1] %}
                <div class="post-list-item">
                    <div class="post-list-item-container">
                        <div class="item-label">
                            <div class="item-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                            <div class="item-meta clearfix">
                                <div class="item-meta-ico bg-ico-{{post.icon}}"
                                    style="background: url({{site.url}}/style/image/bg-ico.png) no-repeat;background-size: 40px auto;">
                                </div>
                                <div class="item-meta-date"> {{ post.date | date: "%Y-%m-%d" }} </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>

{% include share_bottom.html %}

<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<div id="vcomments"></div>
<script>
    new Valine({
        appId: 'jv4PrwUFlejBLlEhoe051nCj-gzGzoHsz',
        appKey: 'y10aG30yajUAFgHUsG5KtitN',
        visitor: true // 阅读量统计
    })
</script>