<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>{{ page.title | default: site.name }}</title>
	<meta name="description" content="{{site.meta_description}}">
	<link rel="shortcut icon" href="{{ '/style/image/favicon.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" href="{{ '/style/image/favicon.png' | prepend: site.baseurl }}"/>
    <link href="{{ '/style/css/highlight.min.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/style/css/style.min.css' | prepend: site.baseurl }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/style/css/iconfont/iconfont.css' | prepend: site.baseurl }}">
</head>