<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="{{ site.domain }}" id="header-site-title" class="navbar-logo">
            {{ site.name }}
        </a>
        <!--
        <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-logo">
            <img src="{{ '/style/image/logo.png' | prepend: site.baseurl }}" alt="{{ site.name }}" />
            <span>{{ site.name }}</span>
        </a>-->
        <div class="navbar-menu">
            <a href="{{ '/archives' | prepend: site.baseurl }}" target="_blank">归档</a>
            <a href="{{ '/categories' | prepend: site.baseurl }}" target="_blank">分类</a>
            <a href="{{ '/tags' | prepend: site.baseurl }}" target="_blank">标签</a>
            <a href="{{ '/aboutme' | prepend: site.baseurl }}" target="_blank">About</a>
        </div>


        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form id="search" method="get" action="/search" role="search" target="_self">
                <span class="search-box">
                    <input type="text" id="input" class="input" name="keyword" required="true" placeholder="Search..." maxlength="30" autocomplete="off">
                </span>
            </form>
        </div>

        
        <!--用以js函数判断的内容-->
        <input type="hidden" id="site_url" value="{{ site.url }}/">
        <input type="hidden" id="night_or_day" value="default">
        <input type="hidden" id="visitor_id" value="default">
            <!--首页搜索时打开新标签页，其他覆盖本页-->
            <script>
                var s_in = document.getElementById("search");
                //console.log(document.getElementById("search").target);
                var this_url = window.location.href;
                var site_ul = document.getElementById("site_url").value;
                console.log("this_url",this_url);
                console.log("site_url",site_ul);
                if (this_url == site_ul) {
                    console.log("index");
                    document.getElementById("search").setAttribute('target', '_blank');
                    //首页修复站点名称显示
                    document.getElementById("header-site-title").style.cssText += "line-height: 55px !important;";
                    //console.log(document.getElementById("search").target);
                }
            </script>
        

        <a href="javascript:start_ning_night();" οnclick="js_method()" class="night_button" style="display: initial;" title="夜间模式">
            {% include night_button.html %}
        </a>

        <a href="javascript:start_ning_day();" οnclick="js_method()" class="day_button" style="display: none;" title="日间模式">
            {% include day_button.html %}
        </a>

        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a href="{{ '/archives' | prepend: site.baseurl }}" target="_blank">归档</a></li>
                <li><a href="{{ '/categories' | prepend: site.baseurl }}" target="_blank">分类</a></li>
                <li><a href="{{ '/tags' | prepend: site.baseurl }}" target="_blank">标签</a></li>
                <li><a href="{{ '/aboutme' | prepend: site.baseurl }}" target="_blank">About</a></li>
            </ul>
        </div>
    </div>
</header>