---
layout: default
---


<link href="{{ '/style/css/ning_post.min.css' | prepend: site.baseurl }}" rel="stylesheet">

<style>
    .main-container {
    min-height: 650px;
}
</style>

<div class="main-container">
    <div class="post-container">
        <div class="navigation" id="navigation">
            <!--<h1>Contents</h1>-->
            <ul class="nav sidenav"></ul>
        </div>
        <article class="post-content">
            {{ content }}
        </article>
    </div>
</div>

<div class="common-container">
    <nav class="post-navigation" id="post-navigation">
        <!--<h2 class="screen-reader-text">Post navigation</h2>-->
        <div class="nav-links">
            {% if page.previous %}
            <a href="{{ BASE_PATH }}{{ page.previous.url }}" data-ajax class="nav-previous">
                {% if page.previous.thumbnail %}
                <div class="nav-bg ">
                    <img src="{{ BASE_PATH }}{{ page.previous.thumbnail }}" alt="" />
                </div>
                {% else %}
                <div class="nav-bg default-cover-bg">
                </div>
                {% endif %}
                <div class="nav-inside">
                    <span class="nav-before">上一篇</span>
                    <span class="nav-title">{{ page.previous.title }}</span>
                    <span class="nav-date"><time
                            itemprop="datePublished">{{ page.previous.date | date: "%Y-%m-%d" }}</time></span>
                </div>
            </a>
            {% endif %}
            {% if page.next %}
            <a href="{{ BASE_PATH }}{{ page.next.url }}" data-ajax class="nav-next">
                {% if page.next.thumbnail %}
                <div class="nav-bg ">
                    <img src="{{ BASE_PATH }}{{ page.next.thumbnail }}" alt="" />
                </div>
                {% else %}
                <div class="nav-bg default-cover-bg">
                </div>
                {% endif %}
                <div class="nav-inside">
                    <span class="nav-before">下一篇</span>
                    <span class="nav-title">{{ page.next.title }}</span>
                    <span class="nav-date"><time
                            itemprop="datePublished">{{ page.next.date | date: "%Y-%m-%d" }}</time></span>
                </div>
            </a>
            {% endif %}
        </div>
    </nav>
</div>

<script src="//cdn.bootcss.com/jquery/1.10.1/jquery.min.js"></script>
<script>
    !window.jQuery && document.write(unescape('%3Cscript src="{{ site.baseurl }}/style/js/jquery.min.js"%3E%3C/script%3E'))
</script>
<script src="{{ site.baseurl }}/style/js/headroom.min.js"></script>
<script src="{{ site.baseurl }}/style/js/nav.min.js"></script>
<script type="text/javascript">
    var postSharer = new Headroom(document.getElementById("post-bottom-bar"), {
        tolerance: 10,
        offset: 80,
        classes: {
            initial: "animated",
            pinned: "pinned",
            unpinned: "unpinned"
        }
    });
    postSharer.init();
</script>

<script type="text/javascript">
    var navigation = new Headroom(document.getElementById("navigation"), {
        tolerance: 0,
        offset: 350,
        classes: {
            initial: "initial",
            pinned: "pinned",
            unpinned: "unpinned",
            bottom : "headroom--bottom",
        }
    });
    navigation.init();
</script>

