---
layout: default
---

<script src="{{ site.baseurl }}/style/js/Browse_time.min.js"></script>

<link href="{{ '/style/css/ning_post.min.css' | prepend: site.baseurl }}" rel="stylesheet">

{% if page.thumbnail %}
<div class="post-header-thumb">
    <div class="post-header-thumb-op" style="background-image:url({{ page.thumbnail }});"></div>
    <div class="post-header-thumb-cover">
        <div class="post-header-thumb-container">
            <div class="post-header-thumb-title">
                {{ page.title }}
            </div>
            <div class="post-header-thumb-meta">
                <time itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }} </time>
                <!--By <a href="{{ '/aboutme' | prepend: site.baseurl }}" target="_blank">
                    <font color=#4682b4>{{ site.author }}</font>
                </a>-->
                <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">
                    <em class="post-meta-item-text">👁‍🗨 </em>
                    <font class="leancloud-visitors-count">-</font>
                </span>
                {% if page.categories %}
                <a href="/category/{{ page.category}}" target="_blank">
                    📚 <span size="3" class="category-ning">{{ page.categories }}</span>
                </a>
                {% endif %}
            </div>


            <div class="post-meta">
                <span class="post-meta-wrap">
                    <img class="author-avatar"
                        srcset="{{ site.avatar }}, {{ site.avatar }} 2x"
                        src="{{ site.avatar }}" alt="" />
                    <span class="post-author">全文共{{ content | strip_html | strip_newlines | split: "" | size }}字</span>
                    <!--<span class="post-author">预计花费{{ content | strip_html | strip_newlines | split: "" | size }}/400</span>
                                        <span class="post-author"><span id="busuanzi_value_page_pv"></span> 次访问</span>-->
                    <time itemprop="datePublished"><span id="Browse_time"></span></span>
                </time>
                </span>
            </div>

            <div class="post-tags">
                {% if page.tag %}
                {% for tag in page.tag %}
                <a href="/tags" target="_blank">{{ tag }}</a>
                {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% else %}
<div class="post-header-thumb">
    <div class="post-header-thumb-op"
        style="background-image:url(${theme_base!}/source/images/thumbs/<@fun.randThumbs/>);"></div>
    <div class="post-header-thumb-cover">
        <div class="post-header-thumb-container">
            <div class="post-header-thumb-title">
                {{ page.title }}
            </div>
            <div class="post-header-thumb-meta">
                <time itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>
                in
                {% if page.categories %}
                <a href="${post.categories[0].fullPath!}">${post.categories[0].name}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}


<div class="main-container">
    <div class="post-container">
        <div class="navigation" id="navigation">
            <!--<h1>Contents</h1>-->
            <ul class="nav sidenav"></ul>
        </div>
        <article class="post-content">
            {{ content }}
        </article>
        <!-- id 将作为查询条件 -->
        <p class="post-info">
            原文链接：<a href="{{site.domain}}{{page.url}}"><b>{{page.title}}</b></a>
            <br>
            本文由 <a href="{{site.domain}}/aboutme"><b>{{ site.author }}</b></a> 创作，采用 <a
                href="https://creativecommons.org/licenses/by/4.0/" target="_blank"
                rel="external nofollow">知识共享署名4.0</a>
            国际许可协议进行许可
            <br>
            本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名
        </p>
        {% include comment.html %}
    </div>
</div>

<div class="common-container">
    <nav class="post-navigation" id="post-navigation">
        <!--<h2 class="screen-reader-text">Post navigation</h2>-->
        <div class="nav-links">
            {% if page.next %}
            <a href="{{ BASE_PATH }}{{ page.next.url }}" data-ajax class="nav-previous">
                {% if page.next.thumbnail %}
                <div class="nav-bg ">
                    <img src="{{ BASE_PATH }}{{ page.next.thumbnail }}" alt="" />
                </div>
                {% else %}
                <div class="nav-bg default-cover-bg">
                </div>
                {% endif %}
                <div class="nav-inside">
                    <span class="nav-before">上一篇</span>
                    <span class="nav-title">{{ page.next.title }}</span>
                    <span class="nav-date"><time
                            itemprop="datePublished">{{ page.next.date | date: "%Y-%m-%d" }}</time></span>
                </div>
            </a>
            {% endif %}
            {% if page.previous %}
            <a href="{{ BASE_PATH }}{{ page.previous.url }}" data-ajax class="nav-next">
                {% if page.previous.thumbnail %}
                <div class="nav-bg ">
                    <img src="{{ BASE_PATH }}{{ page.previous.thumbnail }}" alt="" />
                </div>
                {% else %}
                <div class="nav-bg default-cover-bg">
                </div>
                {% endif %}
                <div class="nav-inside">
                    <span class="nav-before">下一篇</span>
                    <span class="nav-title">{{ page.previous.title }}</span>
                    <span class="nav-date"><time
                            itemprop="datePublished">{{ page.previous.date | date: "%Y-%m-%d" }}</time></span>
                </div>
            </a>
            {% endif %}
        </div>
    </nav>
</div>

{% include share_bottom.html %}

<script src="//cdn.bootcss.com/jquery/1.10.1/jquery.min.js"></script>
<script>
    !window.jQuery && document.write(unescape('%3Cscript src="{{ site.baseurl }}/style/js/jquery.min.js"%3E%3C/script%3E'))
</script>
<script src="{{ site.baseurl }}/style/js/headroom.min.js"></script>
<script src="{{ site.baseurl }}/style/js/nav.min.js"></script>
<script type="text/javascript">
    var postSharer = new Headroom(document.getElementById("post-bottom-bar"), {
        tolerance: 10,
        offset: 80,
        classes: {
            initial: "animated",
            pinned: "pinned",
            unpinned: "unpinned"
        }
    });
    postSharer.init();
</script>

<script type="text/javascript">
    var navigation = new Headroom(document.getElementById("navigation"), {
        tolerance: 0,
        offset: 350,
        classes: {
            initial: "initial",
            pinned: "pinned",
            unpinned: "unpinned",
            bottom : "headroom--bottom",
        }
    });
    navigation.init();
</script>

<!--导航栏自动隐藏-->
<script>
    window.onscroll = function() {
        var navigation_bottom_height = document.getElementById("navigation").getBoundingClientRect().bottom;
        var navigation_top_height = document.getElementById("navigation").getBoundingClientRect().top;
        var post_header_thumb_bottom_height = document.getElementsByClassName("post-header-thumb")[0].getBoundingClientRect().bottom;
        var common_container_top_height = document.getElementsByClassName("common-container")[0].getBoundingClientRect().top;
        //console.log("common-container:"+common_container_top_height);
        //console.log("navigation:"+navigation_bottom_height);
        if(common_container_top_height-200<navigation_bottom_height || navigation_top_height-50<post_header_thumb_bottom_height){ 
            document.getElementById("navigation").style.opacity = 0;
            //console.log("隐藏");
        }
        else{
            document.getElementById("navigation").style.opacity = 1;
            //console.log("显示");
        }
      }
  </script>