---
layout: default
---


<article class="main-content page-page" itemscope itemtype="http://schema.org/Article">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            {{ page.title }}
        </h1>
        <div class="post-data">
            <time itemprop="datePublished">{{ page.date | date: "yyyy-MM-dd" }}</time>
        </div>
    </div>
</article>
<div class="main-container">
    <div class="post-container">
        <div class="navigation" id="navigation">
            <h1>Contents</h1>
            <ul class="nav sidenav"></ul>
        </div>
        {% if page.content %}
        <article class="post-content">
            {{ content }}
        </article>
        {% endif %}
        <!--
        评论插件：目前错误中
        <div class="post-content">
            {% include comment.html %}
        </div>
        -->
    </div>
</div>









<style>
    @media only screen and (max-width:400px) {
        .pagination {
            padding-bottom: 45px;
            padding-top: 45px
        }
    }

    .post-navigation {
        background-color: #101012;
        border-bottom: 1px solid rgba(90, 90, 90, .3);
        overflow: hidden
    }

    .nav-next,
    .nav-previous {
        box-sizing: border-box;
        color: #fff;
        display: block;
        overflow: hidden;
        padding-bottom: 345px;
        position: relative;
        width: 50%
    }

    .nav-previous {
        float: left;
        text-align: left
    }

    .nav-next {
        float: right;
        text-align: right
    }

    .nav-next:only-child,
    .nav-previous:only-child {
        width: 100%
    }

    .nav-next+.nav-previous {
        border-left: 1px solid rgba(90, 90, 90, .3)
    }

    .nav-bg {
        bottom: 0;
        left: 0;
        opacity: .3;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale(1, 1);
        transition: transform 1s
    }

    .nav-bg img {
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%
    }

    .post-navigation a:hover {
        color: #fff
    }

    .post-navigation a:hover .nav-bg {
        transform: scale(1.05, 1.05)
    }

    .nav-inside {
        bottom: 30px;
        left: 30px;
        overflow: hidden;
        position: absolute;
        right: 30px;
        top: 90px
    }

    .nav-before {
        color: #2474b5;
        display: block;
        font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
        font-size: 14px;
        margin-bottom: 20px;
        padding-bottom: 5px;
        position: relative
    }

    .nav-before:after {
        background-color: #2474b5;
        bottom: 0;
        content: "";
        height: 1px;
        position: absolute;
        width: 80px
    }

    .nav-previous .nav-before:after {
        left: 0
    }

    .nav-next .nav-before:after {
        right: 0
    }

    .nav-title {
        color: #fff;
        display: block;
        font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
        font-size: 24px;
        line-height: 1.33333;
        margin-bottom: 5px
    }

    .nav-date {
        color: #adabac;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase
    }

    @media only screen and (max-width:800px) {

        .nav-next,
        .nav-previous {
            border-left: 0;
            border-right: 0;
            float: none;
            text-align: left;
            width: 100%
        }

        .nav-next .nav-before:after,
        .nav-previous .nav-before:after {
            left: 0
        }

        .nav-next+.nav-previous {
            border-top: 1px solid rgba(90, 90, 90, .3)
        }
    }


    .common-container {
        z-index: 1;
        position: relative;
    }
</style>







<div class="common-container">
    <nav class="post-navigation" id="post-navigation">
        <!--<h2 class="screen-reader-text">Post navigation</h2>-->
        <div class="nav-links">
            {% if page.previous %}
            <a href="{{ BASE_PATH }}{{ page.previous.url }}" data-ajax class="nav-previous">
                {% if page.previous.thumbnail %}
                <div class="nav-bg "> 
                    <img src="{{ BASE_PATH }}{{ page.previous.thumbnail }}" alt="" />
                </div>
                {% else %}
                <div class="nav-bg default-cover-bg">
                </div>
                {% endif %}
                <div class="nav-inside">
                    <span class="nav-before">上一篇</span>
                    <span class="nav-title">{{ page.previous.title }}</span>
                    <span class="nav-date"><time itemprop="datePublished">{{ page.previous.date | date: "yyyy-MM-dd" }}</time></span>
                </div>
            </a>
            {% endif %}
            {% if page.next %}
            <a href="{{ BASE_PATH }}{{ page.next.url }}" data-ajax class="nav-next">
                {% if page.next.thumbnail %}
                <div class="nav-bg ">
                    <img src="{{ BASE_PATH }}{{ page.next.thumbnail }}" alt="" />
                </div>
                {% else %}
                <div class="nav-bg default-cover-bg">
                </div>
                {% endif %}
                <div class="nav-inside">
                    <span class="nav-before">下一篇</span>
                    <span class="nav-title">{{ page.next.title }}</span>
                    <span class="nav-date"><time itemprop="datePublished">{{ page.next.date | date: "yyyy-MM-dd" }}</time></span>
                </div>
            </a>
            {% endif %}
        </div>
    </nav>
</div>
